[Desktop Entry]
Name=Rxvt
Comment=Small, fast X11 terminal application
Comment[pl]=Mała, ale szybka aplikacja terminala pod X11
Comment[sv]=Litet och snabbt X-terminalprogram
Exec=rxvt
Icon=gnome-term.png
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
