[Desktop Entry]
Name=Rxvt
Comment=Small, fast X11 terminal application
Comment[pl]=Mała, ale szybka aplikacja terminala pod X11
Comment[sv]=Litet och snabbt X-terminalprogram
Exec=rxvt
Icon=gnome-term
Terminal=false
Type=Application
Categories=TerminalEmulator;
# vi: encoding=utf-8
