[Desktop Entry]
Name=Rxvt
Comment=Small, fast X11 terminal application
Comment[pl]=Mała, ale szybka aplikacja terminala pod X11
Comment[sv]=litet och snabbt X-terminalprogram
Exec=rxvt
Icon=gnome-term.png
Terminal=0
Type=Application
# vi: encoding=utf-8
